#player-panel {
    width: 400px;
    height: 270px;
    border-radius: var(--radius-md);
    border-width: var(--spacing-xs);
    border-color: var(--border-color);
    padding: var(--spacing-lg) var(--spacing-md);
    background-color: var(--box-see-through);
    -unity-text-align: lower-center;
    justify-content: space-around;
}

#remove-player-button {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
    width: 30px;
}